.main-view {
    width: 100%;
    background-color: white;
    margin-right: 25%;
    margin-left: 25%;
    padding: 20px 12px;
    margin-top: 10%;
    text-align: center;
  }
  
  .label {
    font-weight: bold;
  }
  
  .btn {
    margin: 10px;
  }